body{
    text-align: center;
}

#box-container{
    width: fit-content;
    display: flex-col;
    margin: auto;
}

.box{
    height: 150px;
    width: 150px;
    background-color: red;
    margin: 30px;
    border-radius: 20%;
    border: solid black 5px;
}

#line-1{
    display: flex;
}

#line-2{
    display: flex;
}

.red{
    background-color: #d95980;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.yellow{
    background-color: #f99b45;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.redScreen{
    background-color: red;
}

