#main{
    height: 500px;
    text-align: center;
}


#btn{
    margin-top: 20px;
    padding: 7px;
}

#box{
    height: 200px;
    width: 700px;
    margin: auto;
    margin-top: 30px;
    border: solid black 2px;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}